@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
*{
    font-family: 'Arbutus Slab', serif;
}

body{
    margin: 0;
    background-color: #FFD5E5;
}

/*ViewCreateUser*/
#userCreationView{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFD5E5;
}

#profile{
    height: 180px;
    width: 189px;
}

#input-container{
    display: grid;
    justify-content: center;
    grid-gap: 14px;
}

#insertProfilePic{
    background-color: #F34573;
    height: 180px;
    width: 600px;
    border-radius: 20px;
    text-align: center;
}

#userCreationContainer{
    background-color: #F2D8B9;
    width: 600px;
    border-radius: 17px;
    text-align: center;
    color: #226B80;
}

.bakerEaterImg{
    height: 50px;
    width: 50px;
}

.divButtons{
    padding: 4px 0px 14px 0px;
}

.buttons{
    border-radius: 13px;
    border: solid #A4455E;
    color: #FFFFFF;
    background-color: #F34573;
    font-size: 17px;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
}

.buttons:hover{
    background-color: #a4455e;
}

input{
    width: 313px;
    height: 49px;
    border-radius: 17px;
    border: 0;
    text-align: center;
    color: gray;
}

/*ViewLogIn*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFD5E5;
    min-height: 100vh;
}

#logoTipo{
    padding-top: 10px;
    width: 160px;
    height: 164px;
}

.messageInit{
    border-radius: 17px;
    background: #F34573;
    text-align: center;
    color: white;
    line-height: 0.5; 
    width: 427px; 
    height: 145px;
    font-size: 17px;
}

.login{
    display: flex;
    flex-direction: column;
    margin: 14px;  
}

#password{
    margin-top: 20px;
}

.notAcount{
    color: #226B80;
    font-size: 16px;
}

#msgRegistrate{
    font-size: 17px;
    color: #226B80;
}

/*ViewHome*/
.menu__side{
    width: 200px;
    height: 100%;
    background: #F34573;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    border-right: 10px solid white;
    border-radius: 0px 25px 0px 0px;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#logo2{
    width: 100px;
    margin-top: 18px;
}

#containImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color:white;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
}

.options__menu a:hover{
    color: #F2D8B9;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

.postBody{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 83%;
}

.postMain{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    gap: 20px;
    margin-top: 40px;
}

.pencilIcon{
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.userNav {
    display: grid;
    grid-template-columns: 50px auto auto;
    background-color: #F34573;
    font-size: 12px;
    color: #FFFFFF;
    width: 100%;
    border-radius: 15px 15px 0px 0px
}

.cupcakeImg{
    width: 50px;
}
#postIcon {
    grid-row-start: 1;
    grid-row-end: 3;
}
#postName{
    grid-column-start: 2;
    grid-column-end: 6;
}
#postTitle{
    grid-column-start: 2;
    grid-column-end: 6;
}

.post{
    width: 100%;
}

.like{
    display: flex;
    background-color: #F2D8B9;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    justify-content: space-between;
}
                        /* error404 */
#errorContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFD5E5;
}

#img404{
    width: 500px;
}

/* ***************Edit */
.containerHeader{
    display: flex;
    flex-direction: row;
}

.headerName_Title{
    display: flex;
    flex-direction: column;
}

.userHeader{
    background-color: #F34573;
    display: grid;
    width: 83%;
    border-radius: 15px;
    grid-template-columns: 165px auto auto;
    height: 181px;
    color: white;

}

.item1 {
    grid-column: 1;
    grid-row: 1/span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    grid-column: 2 /span 1;
    grid-row:  1;
}

.item3 {
    grid-column:  2/span 1;
    grid-row: 2;
}

.item2 p{
    margin: 8px 5px 0px;
    font-size: 17px;
}
.item3 p{
    margin: 5px 5px 8px;
    font-size: 17px;
}

.createPostFlex{
    display: flex;
    justify-content: space-between;
    width: 83%;
    font-size: 17px;
    color: #F34573;
}

.buttonGreen {
    border-radius: 13px;
    border: solid #FFFFDD;
    color: #FFFFFF;
    background-color: #35B0AB;
    font-size: 17px;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
    margin: auto 0px;
}

#nameHeader{
    margin: 60px 0px 0px 0px;
}

#nameHeader h2{
    margin: 0px;
}

#titleHeader{
    margin: 0px 0px 60px 0px;
}
#titleHeader h3{
    margin: 0px;
}


/* **********Buscar***** */


.postEditContainer{
    display: flex;
    flex-direction: column;
    background-color: #FFD5E5;
    margin-left: 150px;
    padding: 1px 16px;
    height: 900px;
    width: 1200px;
    align-items: center;
 
}

.userSearContain{
    display: flex;
    flex-direction: column;
    background-color: #F2D8B9;
    margin-left: 300px;
    margin-right: 350px;
    margin-top: 30px;
    height: 900px;
    width: 90%;
} 


#search{
    border-radius: 17px;
    border: solid 1px #F34573;
    background: #FFFFFF;
    text-align: center;
    color: white;
    line-height: 0.5; 
    width: 627px; 
    height: 45px;
    font-size: 17px; 
}


.buscadores{
    border-radius: 13px;
    border: solid #FFFFDD;
    color: #FFFFFF;
    background-color: #F34573;
    width: 200px; 
    height: 40px;
    font-size: 17px;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
    margin-top: 30px;
}
