*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #e6e2e2;
    height: 100%;
    width: auto;
    outline: 2px solid black;
}
#root{

}
.firstViewContainer{
    height: 100vh;
    width: 100vw;
    outline: 10px solid green;
    display: flex;
    justify-content: center;
}
.firstView{
    background: #25034c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.logo{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 180px;
    height: 180px;

}
.currentUserData{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
::placeholder { color: White;
font-size: 15px;
}

.email{
    width: 210px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b309c;
    color: white;
}
.password{
    width: 210px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #4b309c;
}
.loginButton{
    width: 210px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;

}
.loginButton:hover {
    background-color:#09fada;
  }
  
.register{
    width: 210px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;

}
.register:hover {
    background-color:#09fada;
  }
.loginGoogle{
    width: 210px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;

}
.loginGoogle:hover {
    background-color:#09fada;
  }
p{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    color: white;
}
.registerViewContainer{
    height: 100vh;
    width: 100vw;
    outline: 10px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondView{
    background: #25034c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.registerChoice .question{
    margin-top: 10px;
}
.userName{
    width: 211px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b309c;
    color: white;
}
.userEmail{
    width: 211px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b309c;
    color: white;
}
.createPassword{
    width: 211px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b309c;
    color: white;
}
.userRegistration {
    width: 211px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;

}
.userRegistration:hover {
    background-color:#09fada;
  }
.registerlogIn{
    width: 211px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;

}
.registerlogIn:hover {
    background-color:#09fada;
  }
#registrationForm{
    display: flex;
    flex-direction: column;
}
.wallViewContainer{
    height: 100%;
    width: 100vw;
    outline: 10px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wallView{
    background:  #25034c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}
.bullyingViewContainer{
    height: 100vh;
    width: 100vw;
    outline: 10px solid green;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bullyingView{
    background:  #25034c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.bullyingView p{
justify-content: flex-start;
}
header {
    background-color: #4b309c;
    width: 100%;
    height: 70px;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: right;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}
.headerBullying{
    background-color: #4b309c;
    width: 100%;
    height: 70px;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backToWall{
    width: 60px;
    color: white;
    text-decoration: none;
}
.questionsForm{
    text-align: justify;
}
#bForm{
    min-width: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
   
}
.questionsB{
    background-color: lightgrey;
    resize: none;
}
.q{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-weight: bold;
}
.send{
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    transition: background-color 0.1s;
    

}
.send:hover {
    background-color:#09fada;
  }
.publication-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
textarea{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    border: none;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}
.publish{
    width: 150px;
    padding: 10px;
    color: #25034c;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    background-color: #4cc9f0;
    margin-top: 20px;
    transition: background-color 0.1s;

}
.publish:hover {
    background-color:#09fada;
}
.logOutWall{
    min-width: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #4b309c;
    border: none;
    font-size: 15px;

}
div .wall{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
.post{
border: 1px solid black;
width: 300px;
min-height: 150px;
border-radius: 10px;
margin-top: 20px;
background-color: antiquewhite;
justify-content: left;
display: flex;
flex-direction: column;
}
.post-header{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 1;
}
.user-info{
    color: #25034c;
    font-weight: bold;
    height: 21px;
    font-size: 18px;
    margin-bottom: 3px;
}
.comment{
    color: black;
    height: 19px;
    z-index: 3;
    margin-left: 10px;
}
.date{
    color: gray;
    font-size: small;
    margin: 0;
    height: 14px;
    z-index: 2;
    margin-left: 50px;
}
.btn-edit img{
    width: 15px;
    height: 15px;
    border-radius: 0;
    display: flex;
}
.btn-edit{
    margin-left: 260px;
    margin-top: -30px;
    width: 16px;
    height: 16px;
    border: none;
}
.middleSection{
    margin-top: 30px;
}
@media screen and (min-width:426px) and (max-width:768px){
    .logo img{
        width: 220px;
        height: 220px;
    
    }
    .email{
        width: 290px;
        padding: 15px;
        margin-bottom: 25px;
    }
    .password{
        width: 290px;
        padding: 15px;
        margin-bottom: 25px;
    }
    .loginButton{
        width: 290px;
        padding: 15px;
        font-size: 18px;
    }
    .register{
        width: 290px;
        padding: 15px;
        font-size: 18px;
    }
    .loginGoogle{
        width: 290px;
        padding: 15px;
        font-size: 18px;
    }
    p{
        padding: 15px;
        font-size: 18px;
    }
    ::placeholder { color: White;
        font-size: 20px;
    }
    .userName{
        width: 290px;
        padding: 15px;
    }
    .userEmail{
        width: 290px;
        padding: 15px;
    }
    .createPassword{
        width: 290px;
        padding: 15px;
    }
    .userRegistration {
        width: 290px;
        padding: 15px;
        font-size: 18px;
        margin-top: 10px;
    }
    .registerlogIn{
        width: 290px;
        padding: 15px;
        font-size: 18px;
    }
    header img{
        width: 60px;
        height: 60px;
    }
    #bForm{
        min-width: 100px;
        font-size: 22px;
    }
    .logOutWall{
        font-size: 22px;
        margin-right: 20px;
    }
    #publication{
        width: 550px;
        height: 200px;
    }
    #publish{
    width: 200px;
    padding: 15px;
    font-size: 18px;
    margin-top: 15px;
    }
    .questionsB{
    width: 600px;
    }
    .send{
        width: 200px;
        padding: 15px;
        margin-top: 20px;
        font-size: 18px;
    }
    .backToWall{
        width: 60px;
        font-size: 22px;
        margin-right: 20px;
    }

}