@import url(https://fonts.googleapis.com/css?family=Ingrid+Darling:regular);
@import url(https://fonts.googleapis.com/css?family=Kite+One:regular);

/* a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
} */

html,
body {
  padding: 0;
  margin: 0;
}

/*
  Login  
*/

.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.background {
  background-image: url('./assets/background.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background-green {
  background-color: #01474ddc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem 4rem;
  border-radius: 1rem;
  margin-top: 2rem;
  /* margin-left: 2rem; */
  margin-bottom: 2rem;
  /* margin-right: 2rem; */
  width: 14rem;
  /* height: 30rem; */
}

.background-white {
  background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
    url('./assets/background.png');
  /* backdrop-filter: opacity(0.3); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.login {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}

/* .login h2{
  color: #BCE4D7;
  font-size: 12px;
  font-family:'Kite One', regular;
} */

.login p {
  color: #BCE4D7;
  font-family: 'Kite One', regular;
}

.login input {
  background: #F8F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 43px;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
  border: 0px;

}

.login button {
  border: 0px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login .entrar {
  background-color: #E48A7B;

}

/* REGISTER */

.register {
  display: flex;
  text-align: center;
}

h1 {
  opacity: 1;
  display: flex;
  font-size: 64px;
  text-align: center;
  color: #F8F9F9;
  font-family: 'Ingrid Darling', cursive;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
  text-shadow: 5px 5px 10px black;
}

h2 {
  opacity: 1;
  display: flex;
  text-align: center;
  color: #BCE4D7;
  font-size: 12px;
  font-family: 'Kite One', regular;
}

.register p {
  display: flex;
  color: #BCE4D7;
  font-family: 'Kite One', regular;
}

.register input {
  background: #F8F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 43px;
  width: 0.5rem;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Kite One', regular;
}



.createAccountButton {
  display: flex;
  background-color: #F8AD67;
  font-family: 'Kite One', regular;
  color: black;
  letter-spacing: 0.4vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  margin-bottom: auto;
  padding: 0.4vh 1.7vh;
  text-align: center;
  font-size: 2.3vw;
  border-radius: 1.4vh;
  text-shadow: black;
}

.backButton {
  background-color: #01474ddc;
  box-shadow: none;
  font-family: 'Kite One', regular;
  color: black;
}

/* FLOWER MENU */
#navMenu{
  margin: 0px;
  padding-top: 0px;
  padding-left: 10px;
  position: fixed;
  font-family: 'Kite One', regular;
  width:10%;
  height:9%;
  transition:4s all;
  z-index:1;
}

#navMenu ul{
  padding:0px;
  text-align:center;
}

#navMenu li{
    transition:.3s all;
}

#navMenu a{
  text-decoration: none;
  list-style: none;
  transition: .3s all;
  font-size:0px;
  padding: 0px;
  
}
#navMenu h4{
  font-family: 'Ingrid Darling', cursive;
  text-align: center;
  color: #01474D;
  padding: 7px;
  padding-bottom: 7px;
  font-size: 0px;
}
#navMenu img{
  padding-top: 15px;
  padding-left: 10px;
  height: 50px;
  width: 50px;
}

#navMenu:hover {
  width: 70%;
  height: 100%;
  background-color: #BCE4D7;
}

#navMenu:hover h4{
  padding: 15px;
  font-size: 35px;
}

#navMenu:hover a{
  padding: 20px;
  font-size: 20px;
  color: #5F6C65;
  display: block;
}

#navMenu:hover img{
  height: 0px;
}

#navMenu:hover li{
  border-top: 1px solid black;
  width: 100%;
}

#navMenu:hover ul:last-of-type{
  border-bottom: 1px solid black;
}

#navMenu:hover a:hover{
  font-size: 25px;
  padding: 30px 0px;
  background-color: #E48A7B;
}

/* NEWS */
.bar {
  background-color: #01474D;
  color: #5F6C65;
  display: inline-block;
  width: 580px;
  height: 100px;
  margin: 0;
  padding: 0;
}

h5 {
  opacity: 1;
  font-size: 48px;
  text-align: center;
  color: #F8F9F9;
  font-family: 'Ingrid Darling', cursive;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
  text-shadow: 5px 5px 10px black;
  
}

.news h2 {
  color: #00A57A;
  opacity: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Kite One', regular;
}

.newsPost{
  background-color: #BCE4D7;
  display: grid;
  grid-row: auto;
  justify-content: center;
  font-size: 12px;
  font-family: 'Kite One', regular;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post-header{
  display: flex;
  justify-content: space-between;
  background-color: #BCE4D7;
}

.dashboard{
  width: 400px;
  margin: 0 auto;
}

.publicationsButton {
  align-self: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

/* PROFILE */
.image-perfil {
  margin: 0 auto;
}
#img-perfil {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 50px;
  border-radius: 100%; 
}

.profileName {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profileData {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
  padding: 30px;
}

.profile .line {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}