@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster+Two&family=Oswald:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 428px) {
    body {
        background-image: url(imagenes/fondo-app.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 428px) {
    .container-inicio {
        display: grid;
        grid-template-rows: 180px 150px 230px;
        background-color: white;
        opacity: 87%;
        width: 90vw;
        height: 80vh;
        margin-top: 70px;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-inicio h1 {
        font-family: 'Lobster Two';
        text-align: center;
        font-size: 65px;
        line-height: 81.25px;
        color: #095E00;
        margin-top: 40px;
    }
}

@media screen and (max-width: 428px) {
    .container-inicio .logo {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-orange {
        height: 27vh;
        width: 77vw;
        background: #E28413;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 130px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-orange h2 {
        color: #FFFFFF;
        font-family: 'Jockey One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 8px;
        text-align: center;
        padding-top: 15px;
    }
}

@media screen and (max-width: 428px) {
    .container-orange p {
        color: #FFFFFF;
        font-family: 'Jockey One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 428px) {
    .botonUnete {
        width: 230px;
        height: 45px;
        left: 74px;
        background: #2BA84A;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        padding: 10px 10px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 428px) {
    .botonUnete a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Lobster Two';

    }
}

@media screen and (max-width: 428px) {
    .container-login {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: white;
        opacity: 87%;
        width: 90vw;
        height: 85vh;
        margin-top: 70px;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 428px) {
    .container-login h1 {
        font-family: 'Lobster Two';
        text-align: center;
        font-size: 65px;
        line-height: 81.25px;
        color: #095E00;
        margin-top: 40px;
    }
    .form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    .container-login .email {
        width: 272px;
        height: 50px;
        left: 63px;
        background: rgba(0, 0, 0, 0.15);
        margin: 0 auto;
    }
    .container-login .contraseña {
        width: 270px;
        height: 50px;
        left: 64px;
        background: rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
    }
    .container-login .btnContinuar {
        width: 270px;
        height: 45px;
        left: 62px;
        background: #2BA84A;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;

    }
    .container-login .btnregister {
        width: 270px;
        height: 50px;
        left: 65px;
        background: #E28413;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

    }
}
    



@media screen and (max-width: 428px) {
    .container-login .forgot {
        width: 268.79px;
        height: 54.5px;
        left: 62px;
        background: #FFFFFF(0, 0, 0, 0);
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

    }
}

@media screen and (max-width: 428px) {
    .container-login .btngoogle {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
        flex-direction: row;
        width: 268.79px;
        height: 54.5px;
        left: 62px;
        background: #D9D9D9;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

    }
}

@media screen and (max-width: 428px) {
    .container-login .logogoogle {
        right: 20px;
    }
}

@media screen and (max-width: 428px) {
    .container-login a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
    }
}

@media screen and (max-width: 428px) {
    .btngoogle a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
}

@media screen and (max-width: 428px) {
    .container-register {
        display: grid;
        grid-template-rows: 130px 170px 80px 80px 150px;
        background-color: white;
        opacity: 87%;
        width: 90vw;
        height: 80vh;
        margin-top: 70px;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-register h1 {
        font-family: 'Lobster Two';
        text-align: center;
        font-size: 65px;
        line-height: 81.25px;
        color: #095E00;
        margin-top: 40px;
    }
}

@media screen and (max-width: 428px) {
    .container-register .email {
        width: 272px;
        height: 50px;
        left: 63px;
        background: rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-register .contraseña {
        width: 270px;
        height: 50px;
        left: 64px;
        background: rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 428px) {
    .container-register .btn {
        width: 270px;
        height: 45px;
        left: 62px;
        background: #2BA84A;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

    }
}

@media screen and (max-width: 428px) {
    .container-register a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
    }
}

/*@media screen and (max-width: 428px) {
    .container-wall .btncerrar {
        width: 270px;
        height: 45px;
        left: 62px;
        background: #2BA84A;
        margin-left: auto;
        margin-right: auto;
    }
}*/

@media screen and (max-width: 428px) {
    .container-wall {
        display: grid;
        grid-template-rows: 730px;
        background-color: #FFFFFF;
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 428px) {
    .container-wall header {
        display: flex;
        justify-content:space-around;
        flex-direction: row-reverse;
        top: 600px;
        width: 375px;
        height: 100px;
        background-color: rgb(230, 193, 149);
    }
}
@media screen and (max-width: 428px) {
    .container-wall h1 {
        font-family: 'Lobster Two';
        display: flex;
        text-align: right;
        font-size: 40px;
        color: #095E00;
        margin-top: 20px;
    }
}

@media screen and (max-width: 428px) {
    .container-wall .logoperfil {
        Width: 12vw;
        Height: 8vh;
        margin-top: 10px;
    }
}

@media screen and (max-width: 428px) {
    .container-wall footer{
        display: flex;
        justify-content:space-around;
        flex-direction: row-reverse;
        align-items: center;
        align-content: center;
        top: 600px;
        width: 375px;
        height: 100px;
        background-color: rgb(230, 193, 149);
    }
}
@media screen and (max-width: 428px) {
    .container-wall .logomuro{
        Width: 12vw;
        Height: 7vh;
        
    }
}
@media screen and (max-width: 428px) {
    .container-wall .logopublicar{
        Width: 10vw;
        Height: 7vh;
        
    }
}
@media screen and (max-width: 428px) {
    .container-post {
        background-color: #FFFFFF;
        width: 100vw;
        height: 100vh;
        top: 0px;
        border-radius: 0px; 
    }
}
@media screen and (max-width: 428px) {
    .container-post h1 {
        font-family: 'Lobster Two';
        font-size: 40px;
        color: #095E00;
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 428px) {
    .container-post form {
       display: grid;
       grid-template-rows: 50px 30px 50px 50px 20px 50px 50px 50px 50px 50px 50px 50px 30px 60px;
       margin-left: auto;
       margin-right: auto;
       height: 80vh;
       width: 90vw;
       padding: 20px;
       background: #D9D9D9;
       left: 35px;
       top: 146px;
    }
}
@media screen and (max-width: 428px) {
    .container-post h4 {
        font-family: 'Lobster Two';
        font-size: 20px;
        color: black;
        margin-top: 20px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 428px) {
    .container-post .btnpublicar {
        width: 30vw;
        height: 5vh;
        background: #E28413;
        font-family: 'Lobster Two';
        font-size: 20px;
        color: black;
        border-radius: 15px;

        
    }
}
