@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
*{
    font-family: 'Arbutus Slab', serif;
}
#userCreationView{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFD5E5;
}

#profile{
    padding-top: 13px;
    height: 180px;
    width: 189px;
}

#input-container{
    display: grid;
    justify-content: center;
    grid-gap: 14px;
}

#insertProfilePic{
    background-color: #F34573;
    height: 209px;
    width: 748px;
    border-radius: 20px;
    text-align: center;
}

#userCreationContainer{
    background-color: #F2D8B9;
    width: 748px;
    border-radius: 17px;
    text-align: center;
    padding: 30px 0;
    color: #226B80;
}

.bakerEaterImg{
    height: 100px;
    width: 100px;
}

#submitBt{
    padding-top: 14px;
}

#creatUserBt{
    width: 210px;
    height: 45px;
    border-radius: 16px;
    border: solid #A4455E;
    color: #FFFFFF;
    background-color: #F34573;
    font-size: 20px;
}

input{
    width: 313px;
    height: 49px;
    border-radius: 17px;
    border: 0;
    text-align: center;
    color: gray;
}