@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/*      --    HOME VIEW     --      */

.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 320px;
    height: 568px;
}

.containter-logo-ticket{
    padding: 15px 30px;
    background-color: lightgray;
    border-radius: 30px;
}

.logo-ticket{
    width: 80px;
    height: auto;
}

.container-home p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}

.btn{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    font-weight: 400;
    width: 200px;
}
/*      --      LOGIN VIEW      --      */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #9a9a9a;
    border-radius: 30px;
}

.container-s-logo-ticket{
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 30px;
    margin-bottom: 30px;
}

.s-logo-ticket{
    width: 60px;
    height: auto;
}

.sub-container-login h2{
    padding: 5px 20px;
    background-color: lightgray;
    border-radius: 30px;
    margin-bottom: 30px;
}

.sub-container-login label{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-container-login input{
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: lightgray;
    letter-spacing: 5;
    font-size: medium;
    color: black;
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    margin-bottom: 20px;
}

.btn-access{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.btn-access button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin-bottom: 30px;
}

/*      --    AGE VIEW     --      */


.container-age {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.container-age p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}


/*      --    AGE REDIRECT VIEW     --      */


.container-ageRedirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.container-ageRedirect p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}

/*      --    SIGN UP VIEW     --      */

.container-signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #9a9a9a;
    border-radius: 30px;
}

.sub-container-signUp h2{
    font-size: 20px;
    padding: 5px 20px;
    background-color: lightgray;
    border-radius: 30px;
    margin-bottom: 30px;
}

.sub-container-signUp label{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-container-signUp input{
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: lightgray;
    letter-spacing: 5;
    font-size: medium;
    color: black;
    width: 225px;
    height: 25px;
    border-radius: 30px;
    margin: 5px;
}


.btn-create{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    font-weight: 400;
    width: 200px;
    margin-bottom: 10px;
}

.container-btn {
    display: flex;
    flex-direction: row;
}

.container-btn button{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin: 5px;
    margin-top: 20px;
    font-weight: 400;
    width: 100px;
    font-size: small;
}

/*      --    WELCOME VIEW     --      */

.container-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #9a9a9a;
    border-radius: 30px;
}

.container-p {
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 20px;
    width: 230px;
    background-color: lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-p p {
    margin: 5px 0px;
}

/*      --    LOG OUT CONFIRMATION VIEW     --      */

.container-logOutConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-logOutConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #9a9a9a;
    border-radius: 30px;
}

/*      --    DELETE CONFIRMATION VIEW     --      */

.container-deleteComment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-deleteComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #9a9a9a;
    border-radius: 30px;
}

/*      --    MENU VIEW     --      */

.container-menu {
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 568px;
    margin: 0px;
}

.sub-container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    height: 568px;
    width: 240px;
    background-color: #9a9a9a;
    border-radius: 0px 30px 30px 0px;
}

/*      --    404 VIEW     --      */

.div-404{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    /* margin: 20px; */
    width: 320px;
    height: 568px;
}

.img-404{
    width: 260px;
    height: auto;
    margin-top: 20px;
    margin-bottom:20px;
}

.imgPopCorn {
    width: 140px;
    height: auto;
    margin-top: 20px;
    margin-bottom:20px;
}

.div-404 p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
}

.btn-return{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    font-weight: 400;
}
