@font-face {
  font-family: karla;
  src: url('/font/karla.ttf');
}
*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: karla;
  background-image: url("./img/bg.png"); 
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height:100%;
  transition: top 0.3s;
}

/* HEADER CSS */
.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8%;
  background: white;
  order: -1;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.brand-logo {
  height: 80%;
}
.search-box {
  width: 50%;
  height: 50%;
  display: flex;
  align-self: center;
  border-radius: 40%;
}
.search-input {
  width: 100%;
  border-right: none;
  font-size: 0.9rem;
  border:none;
  background:#EFEFEF;
  padding:10px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.search-box input::placeholder {
  font-size: 0.9rem;
  color: grey;
}

.search-button {
  text-align: center;
  width:10%;
  cursor: pointer;
  border-left: none;
  font-size: 15px;  
  border:none;
  color:grey;
  font-size: 0.9rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.main-avatar {
  height: 80%;
  border-radius: 50%;

}
.dropdown {
  position: relative;
  display:inline-block;
  height: 100%;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;;
  right: 0;
  left: auto;
}
.dropdown-content a {
  color: black;
  padding: 16px 16px;
  margin: 8px;
  text-decoration: none;
  display: block;
  border-left: 2px;
}
.dropdown-content a:hover {
  background-color: #ffffff;
  padding-left: 20px;
  border-left: 2px solid #43aaf3;
  transition: all 0.3s ease;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* MIDDLE CSS */
.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  width: 100%;
}
/* FOOTER CSS */
footer{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 8%;
  min-height: 60px;
  background: white;
  align-items: center;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

footer button {
  height: 50%;
  color: #CE395F;
  font-size: 20px;
  background-color: white;
  border: none;
}

#postButton{
  background-color: #CE395F;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;

}
 
/* LOG IN FORM CSS */
.login-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 350px;
  height: auto;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.logo {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: auto;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
}
.title-form {
  margin-top: -5%;
  text-align: center;
  font-family: "Monrope", sans-serif;
  color: #484747;
}
label {
  display: block;
  color: #555555;
  margin-bottom: 5%; /*8px*/
}
.input-form {
  margin-bottom: 3vh;
  padding: 13px 0px 13px 25px;
  width: 100%;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 0.9rem;
  color: #555555;
}
.or {
  color: #555555;
}
/*Entrar btn*/
.login-btns {
  text-align: center;
  align-items: center;
}
/*Entrar y Registrar btn*/
.main-btn {
  background-image: linear-gradient(to right, #CB356B 0%, #BD3F32  51%, #CB356B  100%);
  border-radius: 999px;
  box-shadow: #CE395F 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: karla;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 5%;
}

.google-btn {
  transition: background-color .3s, box-shadow .3s;  
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 999px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  cursor: pointer;
  margin: 5%;
}
.signup-link {
  align-items: center;
  text-align: center;
  margin: 5%;
}
 
/* REGISTER FORM CSS */
.signup-tittle {
  margin-bottom: 5%;
  text-align: center;
}
.create-account-info {
  text-align: center;
}
 
/* NEW POST CSS */
.new-post {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.post-box {
  width: 40%;
  height: auto;
  min-width: 350px;
  min-height: 400px;
  max-width: 450px;
  max-height: 400px;
  margin: 3em;
  background-color: #fff;
  overflow: hidden;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 2px 5px 10px grey;
  z-index: 3;
}
#postBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.btn-discard {
  border: none;
  background-color: #FFFFFF;
  margin-left: 97%;
  font-size: 1.2em;
  color: #9e9e9e;
}
.btn-discard:hover {
  color: black;
  transform: translateY(1px);
  cursor: pointer;
} 
.avatar-new-post {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-name-new-post {
  margin: 0.5em;
  font-size: 1.1rem;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.new-post div textarea, .dialog-modal div textarea {
  width: 100%;
  height: 50%;
  border: none;
  font-family: karla;
  margin-top: 1em;
  outline: none;
  font-size: 1rem;
}

.movie-input, .country-input {
  width: 100%;
  margin-top: 1em;
  font-size: 0.8rem;
  font-style: normal;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: karla;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.movie-input input[type=text], select {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.4em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  -webkit-appearance: none;
  background-color: #FFFFFF;
}
#post-submit {
  background-image: linear-gradient(to right, #CB356B 0%, #BD3F32  51%, #CB356B  100%);
  border-radius: 10px;
  box-shadow: #CE395F 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: karla;
  font-size: 1.2rem;
  line-height: 15px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0.7em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 0;
  margin-left: auto;
  margin-top: 1em;
}
 
/* MAP CSS */
.map-page{
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: end;
}
.middle-map{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  width: 100%;
}
.map-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    width: 30%;
    background-color: #cddaf3;
}
.map-feed::-webkit-scrollbar {
  -webkit-appearance: none;
}
.map{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #cddaf3;
}
svg{
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
}
.map path{
  fill: #deebe0;
  stroke-width: 2px;
}
.map :hover{
  fill: #f7f1ed;
}

/* HOME */
.home-page{
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoModal {
  width: 50%;
  min-width: 200px;
  border-radius: 2%;
  padding: 1em;
  max-width: 500px;
  border: none;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  position:fixed;
  left: 0;
  top: 35%;
  right: 0;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}

.infoModal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.brand-name {
  color:#CB356B;
}
.brand-slogan, .brand-intro, .brand-info {
  margin: 0.4%;
  color: #2B2B2B;
}
 /* post en home */
 .post {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 250px;
    height: 100%;
    background-color: #ffffff;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1%;
    padding: 2%;
    max-height: 300px;
    padding-bottom: 1%; 
 }
 .post-header{
  display: flex;
  flex-direction: column;
/*   min-height: 35%; */
  height: auto;
 }
 .user-info{
   display: flex;
   align-items: center;
 }
 .user-photo{
  max-height: 35px;
  border-radius: 50%;
 }
 .user-name {
  color:rgba(37, 9, 59, 0.798);
  font-style: normal;
  font-size: 0.9rem;
  margin-bottom: 2%;
  margin-left: 3%;
}
.movie-review{
  font-size: 0.7rem;
 /*  min-height: 40%; */
  height: auto;
  margin-bottom: 2%;
  margin-left: 18%;
}
 .date {
  font-size: 10px;
  color: #687684;
  justify-self: end;
  align-self: end;
  margin-bottom: 2%;
}
 .post-main{
  display: flex;
  flex-direction: column;
  height: 50%;
  background: #FAFAEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2%;
 }
 .movie-title {
  font-size: 0.9rem;
 font-weight: bold;
 border-bottom:#687684 solid;
 border-width:thin;
 align-self: center;
 margin-top: 3%;
 }
 .movie-country{
   margin: 2%;
  font-size: 0.8rem;
 }
 .post-footer {
    display: flex;
    height: 15%;
    justify-content: end;
    align-items: end;
 }
 .btn-like {
  background-color: #fff;
  border: none;
  color:#CE395F;
  cursor: pointer;
  transition: all .3s;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-like:hover {
  border-color: #420516;
  color: #420516;
  fill: #420516;
}

.like-count{
  font-size: 0.9rem;
  color:black;
  font-family: karla;
}

/* PROFILE PAGE CSS */
.profile-page {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-modal {
  width: 30%;
  min-width: 300px;
  border-radius: 2%;
  padding: 1em;
  max-width: 350px;
  border: none;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  position:fixed;
  left: 0;
  top: 20%;
  right: 0;
  margin-left: 38%;
  margin-right: 38%;
}

.dialog-modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.post-box-modal {
  display: flex;
  flex-direction: column;
  align-self: center; 
}

.modal-header{
  display: flex;
  width:100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-top:5%;
}

.btn-discard-modal{
  background: white;
  border:none;
  cursor: pointer;
  width:10%;
}

#done-button{
  margin-top: 7%;
  margin-bottom: 2%;
  align-self: end;
  cursor: pointer;
}

.post-footer-profile {
  display: flex;
  height: 15%;
  justify-content: space-around;
  align-items: end;
  margin-top: 3%;
}

.btn-Edit, .btn-Delete {
  background-color: #fff;
  border: none;
  color: grey;
  cursor: pointer;
  padding: 0 3%;
  width: auto;
  transition: all .3s;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-Edit:hover, 
.btn-Delete:hover,
.main-btn:hover,
.google-btn:hover {
  border-color: #420516;
  color: #420516;
  fill: #420516;
}

/* LIKED CSS */

.middle-liked{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  width: 100%;
}

.post-liked {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 250px;
  background-color: #ffffff;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 1%;
  padding: 2%;
 min-height: 200px;
 padding-bottom: 1%; 
}

.likedPostsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  box-sizing: content-box;
  /* background-color: #ff24ff; */
  background-color: #FFFFFF;
  border: 2px solid #111;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  padding: 0 25px;
  margin-bottom: 1%;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1%;
}

.likedPostsDiv:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.likedPostsDiv:hover:after {
  transform: translate(0, 0);
}

.tittle-liked {
  width: 100%;
}

 @media (max-width: 600px) {
  .middle-map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .infoModal {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .dialog-modal {
    width: 90%;
    margin-left:5%;
    margin-right: 5%;
  }
 }


