* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*estilo de fondo*/
body {
  background: linear-gradient(rgba(201, 227, 233, 0.877), rgba(6, 106, 131, 0.938)), url('./images/fondo.jpg');
  background-attachment: fixed;
  font-family: 'Montserrat';
  font-style: normal;
}
/*titulo y deformito*/
.tips{
  text-align: center ;
  font-family: 'Montserrat';
  font-style: bold;
  font-size: 40px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 15px;
}
/*flexbox de la pagina de inicio, por favor no agregar más atributos a esta clase*/
/*/////////////////////////////////////////////////*/
.containerIndex{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/*/////////////////////////////////////////////////*/

/*texto de únete...*/
.comunity {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(1, 10, 10);
  background-color: rgb(247, 247, 247);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

/*botoncito de inicio de sesión y registro de adorno*/
.logIn,
 .signUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: bold;
  font-size: 25px;
  color: #000000;
  border-radius: 50px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.feeed{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
    justify-content: center;
}

/*flexbox de la pagina de inicio, por favor no agregar más atributos a esta clase*/
/*/////////////////////////////////////////////////*/
.containerForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    margin-top: 5%;
}
/*/////////////////////////////////////////////////*/

label input {
  border-radius: 10%;
}

/*posts desde aqui*/
.titlePost{
  height: 5vh;
  width: 50vw;
  background-color: rgba(201, 227, 233, 0.877);
  border-radius: 10px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-family: 'Montserrat';
}

.textPost{
  height: 15vh;
  width: 50vw;
  background-color: rgba(201, 227, 233, 0.877);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Montserrat';

}