@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/*      --    HOME VIEW     --      */

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}

.container-logo-ticket{
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 30px;
}

.logo-ticket{
    width: 80px;
    height: auto;
}

.sub-container p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}

.btn{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 5px;
    font-weight: 400;
    width: 200px;
}
/*      --      LOGIN VIEW      --      */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.container-s-logo-ticket{
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 30px;
    margin-bottom: 30px;
}

.s-logo-ticket{
    width: 60px;
    height: auto;
}

.sub-container h2{
    padding: 5px 20px;
    background-color: lightgray;
    border-radius: 30px;
    margin-bottom: 30px;
}

.sub-container label{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-container input{
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: lightgray;
    letter-spacing: 5;
    font-size: medium;
    color: black;
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    margin-bottom: 20px;
}

.btn-access{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.btn-access button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin-bottom: 30px;
}

/*      --    AGE VIEW     --      */


.container-age {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.container-age p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}


/*      --    AGE REDIRECT VIEW     --      */


.container-ageRedirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.container-ageRedirect p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 15px;
}

/*      --    SIGN UP VIEW     --      */

.container-signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}


.btn-create{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    font-weight: 400;
    width: 220px;
    margin-bottom: 10px;
    font-size: small;
}

.container-btn {
    display: flex;
    flex-direction: row;
}

.container-btn button{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin: 5px;
    margin-top: 20px;
    font-weight: 400;
    width: 100px;
    font-size: small;
}

/*      --    WELCOME VIEW     --      */

.container-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.container-p {
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 20px;
    width: 230px;
    background-color: lightgray;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-p p {
    margin: 5px 0px;
}

/*      --    LOG OUT CONFIRMATION VIEW     --      */

.container-logOutConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-logOutConfirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

/*      --    DELETE CONFIRMATION VIEW     --      */

.container-deleteComment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.sub-container-deleteComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    margin: 20px;
    height: 530px;
    width: 310px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

/*      --    MENU VIEW     --      */

.container-menu {
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 568px;
    margin: 0px;
}

.sub-container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    height: 568px;
    width: 240px;
    background-color: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
}

.sub-container-menu label{
    background-color: white;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}


.container-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.sub-container-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 5px;
    width: 150px;
}

.sub-container-img a{
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    color: black;
}

.img-menu {
    width: 60px;
    height: auto;
}

.btn-backFeed img, button{
    width: 25px;
    height: auto;
    border: none;
    border-radius: 5px;
    position: sticky;
    top: 50px;
}

/*      --    FEED VIEW     --      */

.container-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 568px;
}

.nav-burguer-search{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 70px;
    margin: 0px 5px;
}

.nav-web {
    display: none;
}

.menu-feed{
    width: 50%;
}
.menu-feed img {
    margin-left: 10px;
    width: 20px;
    height: auto;
}

.search-bar{
    width: 50%;
}

/*      --    Search     --      */

.search-box {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform:  translate(-50%, -50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;
    /* padding: 10px; */
    margin-left: 40px;
    /* border: 2px solid magenta;  */
    width: 200px;
    margin-top: 3px;
}

.search-box:hover > .search-input {
    width: 150px;
    padding: 0 10px;
    border-radius: 100px;
    border: 1px solid lightgray; 
}

.search-box:hover > .search-button {
    background: #518FF4;
    color : #fff;
}

.search-input {
    
    width: 0px;
    border:none;
    padding: 0;
    background: none;
    outline:none;
    color: black;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 30px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #5391F4;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.6s;
    cursor: pointer;
    border:none;
    /* border: orange 2px solid; */

}

.search-button:hover {
    transform: rotate(360deg)
    scale(0.8);
}

.movies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(217, 217, 217, 0.3);
    height: 80px;
    width: 320px;
}

.movies button {
    background-color: transparent;
    text-align: center;
    border-radius: 15px;
    width: 50px;
}

.movie-rank {
    width: 60px;
    height: auto;
}

.container-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    background: rgba(217, 217, 217, 0.3);
    width: 270px;
    height: 180px;
    margin: 10px 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    margin-bottom: 8px;
}

.user-info img {
    width: 50px;
    height: auto;
}

.post-p {
    background: rgba(217, 217, 217, 1);
    width: 230px;
    height: 80px;
    padding: 10px;
    border-radius: 15px;
    margin: 0px auto;
}

.btn-popCorn {
    background: transparent;
    margin: 5px 0px 0px 6px;
}

/*      --    PROFILE VIEW     --      */

.container-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 568px;
}

.profile nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 60px;
    margin: 0px 5px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile img {
    margin: 5px;
    width: 65px;
    height: auto;
}

.user-profile button {
    width: 70px;
    height: 25px;
    border-radius: 20px;
    margin: 5px;
}

.user-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 55px;
    margin: 15px 0px 15px 0px;
}

.data {
    background: rgba(217, 217, 217, 1);
    text-align: center;
    width: 75px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.feed-post {
    background: rgba(217, 217, 217, 0.3);
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 35px auto;
    padding: 20px;
    border-radius: 15px; 
}

.feed-post textarea {
    background: rgba(217, 217, 217, 1);
    width: 230px;
    height: 80px;
    padding: 10px;
    border-radius: 15px;
    margin: 0px auto;
    border: none;
}

.btn-post {
    width: 40px;
    height: 20px;
    
}


.post-box {
    background: rgba(217, 217, 217, 1);
    width: 230px;
    height: 80px;
    padding: 10px;
    border-radius: 15px;
    margin: 0px auto;
    border: none;
    margin-bottom: 10px;
}

.feed-post button {
    margin: 0px 50px 0px 0px;
}

/*      --    VIDEO     --      */

.video-stitch{
    width: 300px;
}

/*      --    404 VIEW     --      */

.div-404{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    /* margin: 20px; */
    width: 320px;
    height: 568px;
}

.img-404{
    width: 260px;
    height: auto;
    margin-top: 20px;
    margin-bottom:20px;
}

.imgPopCorn {
    width: 140px;
    height: auto;
    margin-top: 20px;
    margin-bottom:20px;
}

.div-404 p{
    text-align: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom:20px;
}

.btn-return{
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    font-weight: 400;
}


/* -- Boton Hamburguesa -- */

.hamburger {
    width: 30px;
    cursor: pointer;
}
.hamburger span {
    width: 100%;
    height: 3px;
    display: block;
    background: black;
}
.stuffing{
    margin: 5px 0;
}

/*  GRADIENT BACKGROUND  */

body {
	background: linear-gradient(-45deg, #5492F5, #5391F6, #ED829E, #FFCA2C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	25%{
		background-position: 50% 25%
	}
	50% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 10% 100%;
	}
}

@media screen and (min-width: 1280px){  /* PANTALLA FABI */

    .container-home{
        width: 1280px;
        background-image: url(https://github.com/fabibbc/SCL020-social-network/blob/main/src/img/foto%20home.jpg?raw=true);
        background-size: 1280px 800px;
    }

    .container-profile {
        margin: 0px;
        width: 1280px;
        height: auto;
    }

    .container-feed {
        margin: 0px;
        width: 1280px;
        height: auto;
    }

    .sub-container {
        width: 750px;
        margin: 60px auto;
        padding: 30px;
        background: rgba(255, 255, 255, 0.6);
    }

    .nav-burguer-search {
        display: none;
    }

    .nav-web {
        display: block;
        background-color: white;
        width: 1280px;
        height: 60px;
        margin: 0px auto;
    }

    .sub-nav-web {
        width: 700px;
        height: 60px;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px auto;
    }

    .logo-navweb {
        width: 80px;
        height: auto;
    }

    .navweb-logos {
        width: 40px;
        height: auto;
        border-radius: 30px;
    }

    .search-bar {
        margin-left: 250px;
    }

    .profile-web {
        margin: 0px 10px;
    }


    .user-profile img {
        width: 90px;
        height: auto;
    }

    .user-profile button {
        width: 150px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.75);
    }

    .feed-post {
        background: rgba(215, 157, 192, 1);
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        width: 320px;
    }

    .feed-post textarea {
        background: rgba(229, 207, 227, 1);
        width: 290px;
    }

    .feed-post button {
        margin-top: 5px;
    }

    /* .web-post {
        overflow: scroll;
    } */

    .post-box {
        background: rgba(215, 157, 192, 1);
        width: 320px;
    }

    .post-box p {
        background: rgba(229, 207, 227, 1);
        width: 290px;
    }

    .web-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 750px;
        height: 520px;
        margin: 20px 0px 0px 0px;
        border-radius: 30px;
        background: rgba(172, 136, 186, 0.95);
    }

    .movies {
        width: 750px;
        height: 120px;
        margin: 0px;
        border-radius: 30px 30px 0px 0px;
        background: rgba(117, 142, 227, 1);
    }

    .post {
        background: rgba(141, 165, 234, 1);
    }

    .logo-ticket{
        width: 150px;
        height: auto;
    }    
    .container-home p{
        margin-top: 10px;
        margin-bottom:20px;
        padding: 20px;
    }
    .container-login {
        width: 1280px;
    }
    .container-logOutConfirm {
        width: 1280px;
    }
    .container-age {
        width: 1280px;
    }
    .container-signUp {
        width: 1280px;
    }
    .container-welcome {
        width: 1280px;
    }
    
}
























/* @media screen and (min-width: 1920px){ PANTALLA COMPARTIDA CAMI
    .container-home{
        width: 1920px;
    }
    .box-home {
        width: 800px;
        margin-left: 100px auto;
        padding: 25px;
        background-color:F5F5F5;
    
    }
    .logo-ticket{
        width: 150px;
        height: auto;
    }   
    
    .container-home p{
        margin-top: 10px;
        margin-bottom:20px;
        padding: 20px;
    }
    
    .container-login {
        width: 1920px;
    }
    
    .container-feed {
        margin: 0px auto;
        width: 1920px;
    }

    .profile {
        width: 1920px;
    }

    .container-logOutConfirm {
        width: 1920px;
    }

    .container-age {
        width: 1920px;
    }

    .container-signUp {
        width: 1920px;
    }

    .container-welcome {
        width: 1920px;
    }
} */

