@import url(https://fonts.googleapis.com/css?family=Ingrid+Darling:regular);
@import url(https://fonts.googleapis.com/css?family=Kite+One:regular);

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

html,
body {
  padding: 0;
  margin: 0;
}

/*
  Login  
*/

.background {
  background-image: url('./assets/background.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 16px;
  box-sizing: border-box;
}

.background-green {
  background-color: #01474ddc;
  padding: 1rem 4rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 14rem;
  height: 30rem;
}

.login {
  text-align: center;
}

.login h1 {
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Ingrid Darling', cursive;
}
.login h2{
  color: #BCE4D7;
  font-size: 12px;
  font-family:'Kite One', regular;
}

.login p {
  color: #BCE4D7;
  font-family:'Kite One', regular;
}

.login input {
  background: #F8F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 43px;
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

/* REGISTER */

.register {
  text-align: center;
}

.register h1 {
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Ingrid Darling', cursive;
  margin-bottom: 20px;
}
.register h2{
  color: #BCE4D7;
  font-size: 12px;
  font-family:'Kite One', regular;
}

.register p {
  color: #BCE4D7;
  font-family:'Kite One', regular;
}

.register input {
  background: #F8F9F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 43px;
  width: 0.5rem;
  margin-bottom: 16px;
  text-align: center;
  font-family:'Kite One', regular;
}

.createAccountButton{
  background-color:#F8AD67;
  font-family:'Kite One', regular;
  color: black;
  letter-spacing: 0.4vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  margin-bottom: auto;
  padding: 0.4vh 1.7vh;
  text-align: center;
  font-size: 2.3vw;
  border-radius: 1.4vh;
  text-shadow: black; 
  }

.backButton {
  background-color: #01474ddc;
  box-shadow: none;
  font-family:'Kite One', regular;
  color: black;
}