body {
 /* background-image: url(fondo.jpg);
  background-size: cover;
background: linear-gradient(color rgba(236, 215, 230), color rgba(219, 16, 168, 0.3));*/
background: linear-gradient(rgba(235, 169, 202, 0.877), rgba(226, 30, 145, 0.7)) , url('fondo.jpg');

background-attachment: fixed;

  /*background: linear-gradient(color rgba(236, 215, 230), color rgba(219, 16, 168, 0.3));*/
}
.meme {
  display: block;
  margin: 0px auto;
  border-radius: 35%;
  left: auto;
  right: auto;
}